.app-list-item .fa-heart {
  opacity: 0;
  transform: translateX(0px);
  color:red
}
.app-list-item.important .app-list-item-label {
  color: #ffee00;
}

.app-list-item .btn-star {
  color: #ffee00;
}

.app-list-item.important .btn-star {
  color: #9c9c96;
}
.app-list-item .btn-trash {
  color: #ff0000;
}
.app-list-item-label{
    display: block;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
}
button{
  border: none;
  outline: none;
  margin: 4px;
  cursor: pointer;
}

.app-list-item.like .fa-heart {
  opacity: 1;
}